/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@500;600;700&display=swap');

/* css variables */
:root {
    --primary-color: #E02C6D;
    --mainWhite: #fff;
    --mainBlack: #3A3A3A;
    --mainGray: #787885;
    --cardShadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    --cardFontTitle: Poppins;
    --cardTitleColor: #18191F;
    --cardTitleFontWeight: 500;
    --cardTitleFontSize: 1.75rem;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 84%;
    margin: 0 auto;
}

/* nav styling */
nav {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    gap: 2.125rem;
}

nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--mainBlack);
    font-size: 1rem;
    font-weight: 600;

}

nav a:hover, nav img {
    color: var(--primary-color);
}

.nav-title {
    color: var(--mainBlack);
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-title:hover {
    color: var(--primary-color);
}
/* end of navbar */

/* banner */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8.18rem;
    padding-right: 0.75rem;
}

.banner-info {
    max-width: 48.5%;
}

.banner-title {
    color: var(--mainBlack);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.25rem;
    margin-bottom: 1rem;
}

.banner-desc {
    width: 80%;
    color: var(--mainBlack);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.banner-img {
    background: url("images/Circle-design.svg");
    background-repeat: no-repeat;
    
}

.banner-img > img {
    padding: 1.875rem 2.063rem 1.938rem 2px;
    width: 100%;
    
}

.banner-btn {
    padding: 10px 24px;
    vertical-align:auto;
    border: 0;
    border-radius: 2.5rem;
    background: var(--primary-color);
    color: var(--mainWhite);
    font-size: 1rem;
    font-weight: 700;
}

.fa-arrow-right {
    margin-left: 0.5rem;
}
/* banner end */

/* Brand banner */
.brand-banner {
    width: 77%;
    margin: 0 auto;
}

.brand-img-container {
    margin-top: 4rem;
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Brand banner end */

/* Main */
main {
    margin: 6.25rem 10.3rem;
}

/* Popular collection */
.popular-title {
    color: var(--mainBlack);
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 4.375rem;
    margin-bottom: 2rem;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.875rem;
}

.card {
    border-radius: 5px;
    box-shadow: var(--cardShadow);
    padding: 1rem;
}

.card > img {
    width: 100%;
}

.card-title {
    color: var(--cardTitleColor);
    font-family: var(--cardFontTitle);
    font-size: var(--cardTitleFontSize);
    font-weight: var(--cardTitleFontWeight);
    line-height: 2.5rem;
    margin-bottom: 6px;
}

.card-price {
    color: var(--mainBlack);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    margin-bottom: 8px;
}

.rating-points {
    margin-left: 10px;
}

.card-desc {
    width: 196px;
    color: var(--mainGray);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.252px;
}

.see-more {
    margin-top: 3.125rem;
    text-align: right;
}

.see-more a, .see-more span {
    text-decoration: none;
    color: #E02C6D;
}
/* Popular collection end */

/* Featured Item */
.featured-item {
    margin: 6.25rem 0;
    display: flex;
    gap: 6rem;
    flex-direction: row-reverse;
}

.featured-item img {
    width: 36%;
    border-radius: 7px;
}

.featured-title {
    color: var(--mainBlack);
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 1rem;
}

.featured-desc {
    color: var(--mainGray);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1,75rem;
    margin-bottom: 1rem;
}

.featured-btn {
    padding: 10px 24px;
    background: var(--primary-color);
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

footer {
    padding: 50px 0;
    background: #0A0826;
    text-align: center;
}

footer h2 {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
}

footer p {
    color: var(--mainGray);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icons a {
    width: 2rem;
    height: 2rem;
    color: #FFF;
}